profile_artifacts/DiagramLayout/DiagramLayout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://www.ucaiug.org/gmdm/diagram_layout#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ucaiug.org/gmdm/diagram_layout#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">
	Copyright 2025 UCAIug

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	https://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	
	See the License for the specific language governing permissions and
	limitations under the License.
</xs:documentation>
   </xs:annotation>
   <xs:annotation/>
   <xs:element name="DiagramLayout" type="m:DiagramLayout"/>
   <xs:complexType name="DiagramLayout">
      <xs:sequence>
         <xs:element name="Diagram"
                     type="m:Diagram"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DiagramObject"
                     type="m:DiagramObject"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DiagramObjectGluePoint"
                     type="m:DiagramObjectGluePoint"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DiagramObjectPoint"
                     type="m:DiagramObjectPoint"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DiagramObjectStyle"
                     type="m:DiagramObjectStyle"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="DiagramStyle"
                     type="m:DiagramStyle"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="TextDiagramObject"
                     type="m:TextDiagramObject"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="VisibilityLayer"
                     type="m:VisibilityLayer"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Diagram" sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram">
      <xs:annotation>
         <xs:documentation>The diagram being exchanged. The coordinate system is a standard Cartesian coordinate system and the orientation attribute defines the orientation. The initial view related attributes can be used to specify an initial view with the x,y coordinates of the diagonal points.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="orientation"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:OrientationKind"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.orientation">
                  <xs:annotation>
                     <xs:documentation>Coordinate system orientation of the diagram. A positive orientation gives standard "right-hand" orientation, with negative orientation indicating a "left-hand" orientation. For 2D diagrams, a positive orientation will result in X values increasing from left to right and Y values increasing from bottom to top. A negative orientation gives the "left-hand" orientation (favoured by computer graphics displays) with X values increasing from left to right and Y values increasing from top to bottom.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="x1InitialView"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.x1InitialView">
                  <xs:annotation>
                     <xs:documentation>X coordinate of the first corner of the initial view.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="x2InitialView"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.x2InitialView">
                  <xs:annotation>
                     <xs:documentation>X coordinate of the second corner of the initial view.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="y1InitialView"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.y1InitialView">
                  <xs:annotation>
                     <xs:documentation>Y coordinate of the first corner of the initial view.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="y2InitialView"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.y2InitialView">
                  <xs:annotation>
                     <xs:documentation>Y coordinate of the second corner of the initial view.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DiagramStyle"
                           minOccurs="0"
                           maxOccurs="1"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram.DiagramStyle">
                  <xs:annotation>
                     <xs:documentation>A Diagram may have a DiagramStyle.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramStyle">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiagramObject"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject">
      <xs:annotation>
         <xs:documentation>An object that defines one or more points in a given space. This object can be associated with anything that specializes IdentifiedObject. For single line diagrams such objects typically include such items as analog values, breakers, disconnectors, power transformers, and transmission lines.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="drawingOrder"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:integer"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.drawingOrder">
                  <xs:annotation>
                     <xs:documentation>The drawing order of this element. The higher the number, the later the element is drawn in sequence. This is used to ensure that elements that overlap are rendered in the correct order.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="isPolygon"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:boolean"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.isPolygon">
                  <xs:annotation>
                     <xs:documentation>Defines whether or not the diagram objects points define the boundaries of a polygon or the routing of a polyline. If this value is true then a receiving application should consider the first and last points to be connected.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="offsetX"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.offsetX">
                  <xs:annotation>
                     <xs:documentation>The offset in the X direction. This is used for defining the offset from centre for rendering an icon (the default is that a single point specifies the centre of the icon).</xs:documentation>
                     <xs:documentation>The offset is in per-unit with 0 indicating there is no offset from the horizontal centre of the icon.  -0.5 indicates it is offset by 50% to the left and 0.5 indicates an offset of 50% to the right.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="offsetY"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.offsetY">
                  <xs:annotation>
                     <xs:documentation>The offset in the Y direction. This is used for defining the offset from centre for rendering an icon (the default is that a single point specifies the centre of the icon).</xs:documentation>
                     <xs:documentation>The offset is in per-unit with 0 indicating there is no offset from the vertical centre of the icon.  The offset direction is dependent on the orientation of the diagram, with -0.5 and 0.5 indicating an offset of +/- 50% on the vertical axis.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="rotation"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:AngleDegrees"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.rotation">
                  <xs:annotation>
                     <xs:documentation>Sets the angle of rotation of the diagram object.  Zero degrees is pointing to the top of the diagram.  Rotation is clockwise.  DiagramObject.rotation=0 has the following meaning: The connection point of an element which has one terminal is pointing to the top side of the diagram. The connection point "From side" of an element which has more than one terminal is pointing to the top side of the diagram.</xs:documentation>
                     <xs:documentation>DiagramObject.rotation=90 has the following meaning: The connection point of an element which has one terminal is pointing to the right hand side of the diagram. The connection point "From side" of an element which has more than one terminal is pointing to the right hand side of the diagram.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Diagram"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.Diagram">
                  <xs:annotation>
                     <xs:documentation>A diagram object is part of a diagram.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#Diagram">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="DiagramObjectStyle"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject.DiagramObjectStyle">
                  <xs:annotation>
                     <xs:documentation>A diagram object has a style associated that provides a reference for the style used in the originating system.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectStyle">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiagramObjectGluePoint"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectGluePoint">
      <xs:annotation>
         <xs:documentation>This is used for grouping diagram object points from different diagram objects that are considered to be glued together in a diagram even if they are not at the exact same coordinates.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Identity">
            <xs:sequence>
               <xs:element name="DiagramObjectPoints"
                           minOccurs="1"
                           maxOccurs="unbounded"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectGluePoint.DiagramObjectPoints">
                  <xs:annotation>
                     <xs:documentation>A diagram object glue point is associated with 2 or more object points that are considered to be 'glued' together.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiagramObjectPoint"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint">
      <xs:annotation>
         <xs:documentation>A point in a given space defined by 3 coordinates and associated to a diagram object.  The coordinates may be positive or negative as the origin does not have to be in the corner of a diagram.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Identity">
            <xs:sequence>
               <xs:element name="sequenceNumber"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:integer"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint.sequenceNumber">
                  <xs:annotation>
                     <xs:documentation>The sequence position of the point, used for defining the order of points for diagram objects acting as a polyline or polygon with more than one point. The attribute shall be a positive value.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="xPosition"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint.xPosition">
                  <xs:annotation>
                     <xs:documentation>The X coordinate of this point.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="yPosition"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint.yPosition">
                  <xs:annotation>
                     <xs:documentation>The Y coordinate of this point.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="zPosition"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:float"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint.zPosition">
                  <xs:annotation>
                     <xs:documentation>The Z coordinate of this point.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DiagramObject"
                           minOccurs="1"
                           maxOccurs="1"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectPoint.DiagramObject">
                  <xs:annotation>
                     <xs:documentation>The diagram object with which the points are associated.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiagramObjectStyle"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObjectStyle">
      <xs:annotation>
         <xs:documentation>A reference to a style used by the originating system for a diagram object.  A diagram object style describes information such as line thickness, shape such as circle or rectangle etc, and colour.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiagramStyle"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramStyle">
      <xs:annotation>
         <xs:documentation>The diagram style refers to a style used by the originating system for a diagram.  A diagram style describes information such as schematic, geographic, etc.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifiedObject"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject">
      <xs:annotation>
         <xs:documentation>This is a class that provides common identification for all classes needing identification and naming attributes.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Identity">
            <xs:sequence>
               <xs:element name="description"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject.description">
                  <xs:annotation>
                     <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="name"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject.name">
                  <xs:annotation>
                     <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Identity"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Identity">
      <xs:annotation>
         <xs:documentation>,</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://cim.ucaiug.io/ns#Identity.identifier">
            <xs:annotation>
               <xs:documentation>A universally unique object identifier. Used to uniquely identify persistent objects between CIM messages.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="OrientationKind"
                  sawsdl:modelReference="http://cim.ucaiug.io/ns#OrientationKind">
      <xs:annotation>
         <xs:documentation>The orientation of the coordinate system with respect to top, left, and the coordinate number system.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="negative">
            <xs:annotation>
               <xs:documentation>For 2D diagrams, a negative orientation gives the left-hand orientation (favoured by computer graphics displays) with X values increasing from left to right and Y values increasing from top to bottom.   This is also known as a left hand orientation.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="positive">
            <xs:annotation>
               <xs:documentation>For 2D diagrams, a positive orientation will result in X values increasing from left to right and Y values increasing from bottom to top.  This is also known as a right hand orientation.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TextDiagramObject"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#TextDiagramObject">
      <xs:annotation>
         <xs:documentation>A diagram object for placing free-text or text derived from an associated domain object.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:DiagramObject">
            <xs:sequence>
               <xs:element name="text"
                           minOccurs="1"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#TextDiagramObject.text">
                  <xs:annotation>
                     <xs:documentation>The text that is displayed by this text diagram object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VisibilityLayer"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#VisibilityLayer">
      <xs:annotation>
         <xs:documentation>Layers are typically used for grouping diagram objects according to themes and scales. Themes are used to display or hide certain information (e.g., lakes, borders), while scales are used for hiding or displaying information depending on the current zoom level (hide text when it is too small to be read, or when it exceeds the screen size). This is also called de-cluttering.</xs:documentation>
         <xs:documentation>CIM based graphics exchange supports an m:n relationship between diagram objects and layers. The importing system shall convert an m:n case into an appropriate 1:n representation if the importing system does not support m:n.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="drawingOrder"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:integer"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#VisibilityLayer.drawingOrder">
                  <xs:annotation>
                     <xs:documentation>The drawing order for this layer.  The higher the number, the later the layer and the objects within it are rendered.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VisibleObjects"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#VisibilityLayer.VisibleObjects">
                  <xs:annotation>
                     <xs:documentation>A visibility layer can contain one or more diagram objects.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType sawsdl:modelReference="http://cim.ucaiug.io/ns#DiagramObject">
                     <xs:attribute name="ref" type="xs:string" use="required"/>
                     <xs:attribute name="referenceType" type="xs:string" use="optional"/>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="AngleDegrees"
                  sawsdl:modelReference="http://cim.ucaiug.io/ns#AngleDegrees">
      <xs:annotation>
         <xs:documentation>Measurement of angle in degrees.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:float"/>
   </xs:simpleType>
</xs:schema>
