CIMTool_project/GMDM II V1.2/Profiles/GeographicalLocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:m="http://www.ucaiug.org/gmdm/geographical_location#"
           xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ucaiug.org/gmdm/geographical_location#"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:documentation xml:lang="en">
	Copyright 2025 UCAIug

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	https://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	
	See the License for the specific language governing permissions and
	limitations under the License.
</xs:documentation>
   </xs:annotation>
   <xs:annotation/>
   <xs:element name="GeographicalLocation" type="m:GeographicalLocation"/>
   <xs:complexType name="GeographicalLocation">
      <xs:sequence>
         <xs:element name="ACLineSegment"
                     type="m:ACLineSegment"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="AsynchronousMachine"
                     type="m:AsynchronousMachine"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Breaker"
                     type="m:Breaker"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="BusbarSection"
                     type="m:BusbarSection"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="CoordinateSystem"
                     type="m:CoordinateSystem"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Disconnector"
                     type="m:Disconnector"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="EnergyConsumer"
                     type="m:EnergyConsumer"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="EnergySource"
                     type="m:EnergySource"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Fuse" type="m:Fuse" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="LinearShuntCompensator"
                     type="m:LinearShuntCompensator"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="LoadBreakSwitch"
                     type="m:LoadBreakSwitch"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Location"
                     type="m:Location"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PowerElectronicsConnection"
                     type="m:PowerElectronicsConnection"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="PowerTransformer"
                     type="m:PowerTransformer"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Recloser"
                     type="m:Recloser"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="Sectionaliser"
                     type="m:Sectionaliser"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SeriesCompensator"
                     type="m:SeriesCompensator"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="SynchronousMachine"
                     type="m:SynchronousMachine"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ACLineSegment"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#ACLineSegment">
      <xs:annotation>
         <xs:documentation>A line segment is a conductor or combination of conductors, with consistent electrical characteristics along its length, building a single electrical system that carries alternating current between two points in the power system.</xs:documentation>
         <xs:documentation>The BaseVoltage at the two ends of a line segment shall have the same BaseVoltage.nominalVoltage. However, boundary lines may have slightly different BaseVoltage.nominalVoltages and variation is allowed. Larger voltage difference in general requires use of an equivalent branch.</xs:documentation>
         <xs:documentation>Line segment impedances can be either directly described in electrical terms or physical line detail can be provided from which impedances can be calculated.</xs:documentation>
         <xs:documentation>&lt;b&gt;Directly described impedances&lt;/b&gt;</xs:documentation>
         <xs:documentation>For symmetrical, transposed three phase line segments, it is sufficient to use attributes of the line segment, which describe impedances and admittances for the entire length of the line segment.  Additionally, line segment impedances can be computed by using line segment length and associated per length impedances.</xs:documentation>
         <xs:documentation>Unbalanced modeling of impedances is supported by the per length phase impedance matrix (PerLengthPhaseImpedance) in conjunction with phase-to-sequence number mapping supplied by either ACLineSegmentPhase or WirePosition. The sequence numbers are referenced by the row and column attributes of the per length phase impedance matrix. This method enables single-phase and two-phase line segments, and transpositions of phases, to be described using the same per length phase impedance matrix. The length of the line segment is used in the computation of total impedance values for the line segment.</xs:documentation>
         <xs:documentation>&lt;b&gt;Line detail characteristics&lt;/b&gt;</xs:documentation>
         <xs:documentation>There are three approaches to providing line detail and all use WireAssembly to supply line positions:</xs:documentation>
         <xs:documentation>&lt;ul&gt;</xs:documentation>
         <xs:documentation>	&lt;li&gt;Option 1 - WireAssembly supplies only line positions. ACLineSegmentPhase points to wire type and intraphase spacing and supplies the phase-to-sequence number mapping.&lt;/li&gt;</xs:documentation>
         <xs:documentation>	&lt;li&gt;Option 2 - WireAssembly supplies line position and, for each position, also supplies wire type and intraphase spacing. ACLineSegmentPhase supplies the phase-to-sequence number mapping.&lt;/li&gt;</xs:documentation>
         <xs:documentation>	&lt;li&gt;Option 3 - WireAssembly supplies line position and, for each position, also supplies wire type and intraphase spacing and phase. WireAssembly therefore supplies the phase-to-sequence number mapping and ACLineSegmentPhase is not needed.&lt;/li&gt;</xs:documentation>
         <xs:documentation>&lt;/ul&gt;</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Conductor">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AsynchronousMachine"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#AsynchronousMachine">
      <xs:annotation>
         <xs:documentation>A rotating machine whose shaft rotates asynchronously with the electrical field.  Also known as an induction machine with no external connection to the rotor windings, e.g. squirrel-cage induction machine.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RotatingMachine">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Breaker" sawsdl:modelReference="http://cim.ucaiug.io/ns#Breaker">
      <xs:annotation>
         <xs:documentation>A mechanical switching device capable of making, carrying, and breaking currents under normal circuit conditions and also making, carrying for a specified time, and breaking currents under specified abnormal circuit conditions e.g. those of short circuit.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ProtectedSwitch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BusbarSection"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#BusbarSection">
      <xs:annotation>
         <xs:documentation>A conductor, or group of conductors, with negligible impedance, that serve to connect other conducting equipment within a single substation. The BusbarSection class is intended to represent physical parts of bus bars no matter how that bus bar is constructed.</xs:documentation>
         <xs:documentation>Voltage measurements are typically obtained from voltage transformers that are connected to busbar sections. A bus bar section may have many physical terminals but for analysis is modelled with exactly one logical terminal.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Connector">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ConductingEquipment"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#ConductingEquipment">
      <xs:annotation>
         <xs:documentation>The parts of the AC power system that are designed to carry current or that are conductively connected through terminals.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Equipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Conductor"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Conductor">
      <xs:annotation>
         <xs:documentation>Combination of conducting material with consistent electrical characteristics, building a single electrical system, used to carry current between points in the power system.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Connector"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Connector">
      <xs:annotation>
         <xs:documentation>A conductor, or group of conductors, with negligible impedance, that serve to connect other conducting equipment within a single substation and are modelled with a single logical terminal.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CoordinateSystem"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#CoordinateSystem">
      <xs:annotation>
         <xs:documentation>Coordinate reference system.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Disconnector"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Disconnector">
      <xs:annotation>
         <xs:documentation>A mechanical switching device which provides, in the open position, an isolating distance in accordance with specified requirements.</xs:documentation>
         <xs:documentation>A disconnector is capable of opening and closing a circuit when either negligible current is broken or made, or when no significant change in the voltage across the terminals of each of the poles of the disconnector occurs. It is also capable of carrying currents under normal circuit conditions and carrying for a specified time currents under abnormal conditions such as those of short circuit.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Switch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EnergyConnection"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#EnergyConnection">
      <xs:annotation>
         <xs:documentation>A connection of energy generation or consumption on the power system model.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EnergyConsumer"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#EnergyConsumer">
      <xs:annotation>
         <xs:documentation>Generic user of energy - a  point of consumption on the power system model.</xs:documentation>
         <xs:documentation>EnergyConsumer.pfixed, .qfixed, .pfixedPct and .qfixedPct have meaning only if there is no LoadResponseCharacteristic associated with EnergyConsumer or if LoadResponseCharacteristic.exponentModel is set to False.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EnergyConnection">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EnergySource"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#EnergySource">
      <xs:annotation>
         <xs:documentation>A generic equivalent for an energy supplier on a transmission or distribution voltage level.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EnergyConnection">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Equipment"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Equipment">
      <xs:annotation>
         <xs:documentation>The parts of a power system that are physical devices, electronic or mechanical.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:PowerSystemResource">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Fuse" sawsdl:modelReference="http://cim.ucaiug.io/ns#Fuse">
      <xs:annotation>
         <xs:documentation>An overcurrent protective device with a circuit opening fusible part that is heated and severed by the passage of overcurrent through it. A fuse is considered a switching device because it breaks current.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Switch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="IdentifiedObject"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject">
      <xs:annotation>
         <xs:documentation>This is a class that provides common identification for all classes needing identification and naming attributes.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Identity">
            <xs:sequence>
               <xs:element name="description"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject.description">
                  <xs:annotation>
                     <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="name"
                           minOccurs="0"
                           maxOccurs="1"
                           type="xs:string"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#IdentifiedObject.name">
                  <xs:annotation>
                     <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Identity"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Identity">
      <xs:annotation>
         <xs:documentation>,</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifier"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://cim.ucaiug.io/ns#Identity.identifier">
            <xs:annotation>
               <xs:documentation>A universally unique object identifier. Used to uniquely identify persistent objects between CIM messages.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LinearShuntCompensator"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#LinearShuntCompensator">
      <xs:annotation>
         <xs:documentation>A linear shunt compensator has banks or sections with equal admittance values.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ShuntCompensator">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LoadBreakSwitch"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#LoadBreakSwitch">
      <xs:annotation>
         <xs:documentation>A mechanical switching device capable of making, carrying, and breaking currents under normal operating conditions.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ProtectedSwitch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Location"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Location">
      <xs:annotation>
         <xs:documentation>The place, scene, or point of something where someone or something has been, is, and/or will be at a given moment in time. It can be defined with one or more position points (coordinates) in a given coordinate system.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="CoordinateSystem"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:CoordinateSystem"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#Location.CoordinateSystem">
                  <xs:annotation>
                     <xs:documentation>Coordinate system used to describe position points of this location.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PositionPoint"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#PositionPoint">
      <xs:annotation>
         <xs:documentation>Set of spatial coordinates that determine a point, defined in the coordinate system specified in 'Location.CoordinateSystem'. Use a single position point instance to describe a point-oriented location. Use a sequence of position points to describe a line-oriented object (physical location of non-point oriented objects like cables or lines), or area of an object (like a substation or a geographical zone - in this case, have first and last position point with the same values).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="sequenceNumber"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:integer"
                     sawsdl:modelReference="http://epri.com/gmdm#PositionPoint.sequenceNumber">
            <xs:annotation/>
         </xs:element>
         <xs:element name="xPosition"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://cim.ucaiug.io/ns#PositionPoint.xPosition">
            <xs:annotation>
               <xs:documentation>X axis position.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="yPosition"
                     minOccurs="1"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://cim.ucaiug.io/ns#PositionPoint.yPosition">
            <xs:annotation>
               <xs:documentation>Y axis position.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zPosition"
                     minOccurs="0"
                     maxOccurs="1"
                     type="xs:string"
                     sawsdl:modelReference="http://cim.ucaiug.io/ns#PositionPoint.zPosition">
            <xs:annotation>
               <xs:documentation>(if applicable) Z axis position.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Location"
                     minOccurs="1"
                     maxOccurs="1"
                     type="m:Location"
                     sawsdl:modelReference="http://epri.com/gmdm#PositionPoint.Location">
            <xs:annotation/>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PowerElectronicsConnection"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#PowerElectronicsConnection">
      <xs:annotation>
         <xs:documentation>A connection to the AC network for energy production or consumption that uses power electronics rather than rotating machines.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RegulatingCondEq">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PowerSystemResource"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#PowerSystemResource">
      <xs:annotation>
         <xs:documentation>A power system resource (PSR) can be an item of equipment such as a switch, an equipment container containing many individual items of equipment such as a substation, or an organisational entity such as sub-control area. Power system resources can have measurements associated.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:IdentifiedObject">
            <xs:sequence>
               <xs:element name="Location"
                           minOccurs="0"
                           maxOccurs="1"
                           type="m:Location"
                           sawsdl:modelReference="http://cim.ucaiug.io/ns#PowerSystemResource.Location">
                  <xs:annotation>
                     <xs:documentation>Location of this power system resource.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PowerTransformer"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#PowerTransformer">
      <xs:annotation>
         <xs:documentation>An electrical device consisting of  two or more coupled windings, with or without a magnetic core, for introducing mutual coupling between electric circuits. Transformers can be used to control voltage and phase shift (active power flow).</xs:documentation>
         <xs:documentation>A power transformer may be composed of separate transformer tanks that need not be identical.</xs:documentation>
         <xs:documentation>A power transformer can be modelled with or without tanks and is intended for use in both balanced and unbalanced representations. A power transformer typically has two terminals, but may have one (grounding), three or more terminals.</xs:documentation>
         <xs:documentation>The inherited association ConductingEquipment.BaseVoltage should not be used. The association from TransformerEnd to BaseVoltage should be used instead.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ProtectedSwitch"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#ProtectedSwitch">
      <xs:annotation>
         <xs:documentation>A ProtectedSwitch is a switching device that can be operated by ProtectionEquipment.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Switch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Recloser"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Recloser">
      <xs:annotation>
         <xs:documentation>Pole-mounted fault interrupter with built-in phase and ground relays, current transformer (CT), and supplemental controls.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ProtectedSwitch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegulatingCondEq"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#RegulatingCondEq">
      <xs:annotation>
         <xs:documentation>A type of conducting equipment that can regulate a quantity (i.e. voltage or flow) at a specific point in the network.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:EnergyConnection">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RotatingMachine"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#RotatingMachine">
      <xs:annotation>
         <xs:documentation>A rotating machine which may be used as a generator or motor.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RegulatingCondEq">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Sectionaliser"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#Sectionaliser">
      <xs:annotation>
         <xs:documentation>Automatic switch that will lock open to isolate a faulted section. It may, or may not, have load breaking capability. Its primary purpose is to provide fault sectionalising at locations where the fault current is either too high, or too low, for proper coordination of fuses.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:Switch">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SeriesCompensator"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#SeriesCompensator">
      <xs:annotation>
         <xs:documentation>A Series Compensator is a series capacitor or reactor or an AC transmission line without charging susceptance.  It is a two terminal device.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ShuntCompensator"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#ShuntCompensator">
      <xs:annotation>
         <xs:documentation>A shunt capacitor or reactor or switchable bank of shunt capacitors or reactors. A section of a shunt compensator is an individual capacitor or reactor. A negative value for bPerSection indicates that the compensator is a reactor. ShuntCompensator is a single terminal device.  Ground is implied.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RegulatingCondEq">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Switch" sawsdl:modelReference="http://cim.ucaiug.io/ns#Switch">
      <xs:annotation>
         <xs:documentation>A generic device designed to close, or open, or both, one or more electric circuits.  All switches are two terminal devices including grounding switches. The ACDCTerminal.connected at the two sides of the switch shall not be considered for assessing switch connectivity, i.e. only Switch.open, .normalOpen and .locked are relevant.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:ConductingEquipment">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SynchronousMachine"
                   sawsdl:modelReference="http://cim.ucaiug.io/ns#SynchronousMachine">
      <xs:annotation>
         <xs:documentation>An electromechanical device that operates with shaft rotating synchronously with the network. It is a single machine operating either as a generator or synchronous condenser or pump.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="m:RotatingMachine">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
